<div class="catagary_section_2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="box_man">
            <h3 class="mobile_text">Mobile</h3>
            <div class="mobile_img"><img src="images/mobile-img.png"></div>
            <div class="cart_main">
              <div class="cart_bt"><a href="#">Add To Cart</a></div>
              <h4 class="samsung_text">Samsung</h4>
              <h6 class="rate_text"><a href="#">$500</a></h6>
              <h6 class="rate_text_1">$1000</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>