<div class="catagary_section_2 container">
    <div class="container-fluid">
        <div class="row">
            {% for product in collections['all'].products %}
            <div class="col-md-4">
                <div class="box_man">
                    <h3 class="mobile_text">{{ product.title }}</h3>
                    <div class="mobile_img"><img src="{{ product | image_url: width: 400, height: 300 }}"></div>
                    <div class="cart_main">
                        <div class="cart_bt"><a href="#">Add To Cart</a></div>
                        <h4 class="samsung_text">Samsung</h4>
                        <h6 class="rate_text"><a href="#">{{ product.price }}</a></h6>
                        <h6 class="rate_text_1">{{ product.compare_at_price }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

