<div class="catagary_section layout_padding">
    <div class="container">
        <div class="catagary_main">
            <div class="catagary_left">
                <h2 class="categary_text">Category</h2>
            </div>
            <div class="catagary_right">
                <div class="catagary_menu">
                    <ul>
                        <li><a href="#">Man's Fashion</a></li>
                        <li><a href="#">Woman Fashion</a></li>
                        <li><a href="#">Beauty</a></li>
                        <li><a href="#">Mobiles</a></li>
                        <li><a href="#">Computers</a></li>
                        <li><a href="#">Watchs</a></li>
                        <li><a href="#">Kicthen</a></li>
                        <li><a href="#">Sports</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>