<div class="catagary_section layout_padding">
    <div class="container">
        <div class="catagary_main">
            <div class="catagary_left">
                <h2 class="categary_text">Category</h2>
            </div>
            <div class="catagary_right">
                <div class="catagary_menu">
                    <ul>
                        {% for product_type in collection.all_types %}
                            {{ product_type | link_to_type }}
                        {% endfor %}
                        <li><a href="#">Man's Fashion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>