<!-- banner section start -->

<section class="slider">
  <div class="container-fluid">
      <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
              <!-- Slides -->
              {% for block in section.blocks %}
              <div class="swiper-slide">
                  <div class="slide-img"><img class="header-slider-image" src="{{ block.settings.left_image | image_url: width: '1000' }}" alt="">
                  </div>
                  <div class="slide-text">
                      <h4>{{ block.settings.slide_text }}</h4>
                      <p><br>
                      </p>
                      <a href="#">Подробнее</a>
                  </div>
              </div>
              {% endfor %}

          </div>

          <!-- If we need navigation buttons -->
      </div>
      <div class="swiper-button-prev"><img src="" alt=""></div>
      <div class="swiper-button-next"><img src="" alt=""></div>
      
  </div>
</section>

<!-- banner section end -->

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "slider",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [

         {
           "type": "image_picker",
           "id": "left_image",
           "label": "Left Image"
         },
         {
            "type": "text",
            "id": "slide_text",
            "label": "Slider Text"
         },
         {
            "type": "image_picker",
            "id": "right_image",
            "label": "Right Image"
          }
        
       ]
     }
   ]
}
{% endschema %}
