<!-- banner section start -->
<div class="banner_section layout_padding">
    <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">


            {% for block in section.blocks %}

            <div class="carousel-item {% if forloop.first %} active {% endif %}">
                <div class="container">
                    <div class="row border_1">
                        <div class="col-md-4">
                            <div class="image_1"><img src="{{ block.settings.left_image | image_url: width: '300' }}" style="width:100%"></div>
                        </div>
                        <div class="col-md-4">
                            <h1 class="banner_taital">{{ block.settings.slide_text }}</h1>
                            <div class="buynow_bt active"><a href="#">Buy Now</a></div>
                            <div class="contact_bt"><a href="contact.html">Contact Us</a></div>
                        </div>
                        
                    </div>
                </div>
            </div>

            {% endfor %}

            
        </div>
        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!-- banner section end -->

{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "slider",
      "label": "Slideshow"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [

         {
           "type": "image_picker",
           "id": "left_image",
           "label": "Left Image"
         },
         {
            "type": "text",
            "id": "slide_text",
            "label": "Slider Text"
         },
         {
            "type": "image_picker",
            "id": "right_image",
            "label": "Right Image"
          }
        
       ]
     }
   ]
}
{% endschema %}
